@page "/movies/details/{id}"

@inherits DetailsBase
@using Microsoft.AspNetCore.Components.Authorization

 

<style>
    #details-container {
         margin: 90px;
    }

    .title {
        text-align: center;
        width: 100%;
        background-color: #2c3034;
        border-radius: 20px;
        display: inline-block;
        padding: 10px;
        color: white;
        
    }

    .imgAndOverview {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .theImg {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 20px;
        transition: transform 0.3s ease-in-out;
    }
     .theImg:hover {
            transform: scale(1.1); /* Increase the scale to zoom in a bit */
        }

    .overview {
        flex: 1;
        margin-top: 5px;
        border-radius: 5px;
        color: black;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }

    .overview:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: white;
        transition: 0.7s;
    }

    .release-date {
        margin-top: 10px;
    }

    .rating {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        
    }

    .rating i {
        margin-right: 5px;
    }
    .addBtn{
                  display: grid;
                  height: 50px !important;
    }
    @@media (max-width: 915px) {
        .imgAndOverview {
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
        }

        .overview {
            margin-top: 20px; /* Add space between image and overview */
        }
        
           .theImg {
           
             margin-top: 25px;
                width: 100%;
                 
            }
    }
</style>

<AuthorizeView>

<NotAuthorized>

    @if (SelectedMovie != null && MovieDetails != null)
    {
        <div id="details-container">
            <h3 class="title">@SelectedMovie.Title</h3>

            <div class="imgAndOverview">
                @if (!string.IsNullOrEmpty(MovieDetails.poster_path))
                {
                    <img class="theImg" src="@($"https://image.tmdb.org/t/p/w500/{MovieDetails.poster_path}")" alt="Poster"/>
                }
                else
                {
                    <img class="theImg" src="images/9bd42fa2d404d41d1043f4f7668f24ae.jpg" alt="Poster"/>
                }


                <div class="overview">
                    <div class="rating">

                        <i class="bi bi-star-fill text-warning"></i>

                        @if (SelectedMovie.Rating != null)
                        {
                            // Convert the RatingValue to an integer with one decimal place
                            int ratingValueInt = (int)(SelectedMovie.Rating.RatingValue * 10);
                            double ratingValueWithOneDecimal = ratingValueInt / 10.0;

                            <h5 class="text-muted">@ratingValueWithOneDecimal</h5>
                        }
                        else
                        {
                            <span class="text-muted">Rating not provided</span>
                        }
                    </div>
                    <div>

                        <div>
                            <p>
                                <strong>Directors:</strong>
                            </p>
                            @if (SelectedMovie.Directors != null && SelectedMovie.Directors.Any())
                            {
                                <ul>
                                    @foreach (var director in SelectedMovie.Directors)
                                    {
                                        if (director.Person != null)
                                        {
                                            <li>@director.Person.Name</li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No directors available</p>
                            }

                        </div>

                        <div>
                            <p>
                                <strong>Stars:</strong>
                            </p>
                            @if (SelectedMovie.Stars != null && SelectedMovie.Stars.Any())
                            {
                                <ul>
                                    @foreach (var star in SelectedMovie.Stars)
                                    {
                                        if (star.Person != null)
                                        {
                                            <li>@star.Person.Name</li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No directors available</p>
                            }

                        </div>

                    </div>
                    @if (MovieDetails.Overview != null)
                    {
                        <p>@MovieDetails.Overview</p>
                        <h4 class="release-date">Release Date: @MovieDetails.release_date</h4>
                    }
                    else
                    {
                        <p>Futher information not found </p>
                    }


                </div>

                <div class="ms-auto addBtn gap-2">
                    <button class="btn btn-success btn-lg gradient-custom-4 text-body my-2" @onclick="@(async () => await AddToMyList())">
                        Add To My List
                    </button>

                    <button class="btn btn-success btn-lg gradient-custom-4 text-body " @onclick="@(async () => await GoToMyList())">
                        Go To My List
                    </button>
                </div>

            </div>


            <h6> hello User @userIdFromCache</h6>


        </div>
    }
    else
    {
        <p>the selected movie has no details in TMDB Website @ErrorMessage</p>
    }

</NotAuthorized>

<Authorized>
    @if (SelectedMovie != null && MovieDetails != null)
    {
        <div id="details-container">
            <h3 class="title">@SelectedMovie.Title</h3>

            <div class="imgAndOverview">
                @if (!string.IsNullOrEmpty(MovieDetails.poster_path))
                {
                    <img class="theImg" src="@($"https://image.tmdb.org/t/p/w500/{MovieDetails.poster_path}")" alt="Poster"/>
                }
                else
                {
                    <img class="theImg" src="images/9bd42fa2d404d41d1043f4f7668f24ae.jpg" alt="Poster"/>
                }


                <div class="overview">
                    <div class="rating">

                        <i class="bi bi-star-fill text-warning"></i>

                        @if (SelectedMovie.Rating != null)
                        {
                            // Convert the RatingValue to an integer with one decimal place
                            int ratingValueInt = (int)(SelectedMovie.Rating.RatingValue * 10);
                            double ratingValueWithOneDecimal = ratingValueInt / 10.0;

                            <h5 class="text-muted">@ratingValueWithOneDecimal</h5>
                        }
                        else
                        {
                            <span class="text-muted">Rating not provided</span>
                        }
                    </div>
                    <div>

                        <div>
                            <p>
                                <strong>Directors:</strong>
                            </p>
                            @if (SelectedMovie.Directors != null && SelectedMovie.Directors.Any())
                            {
                                <ul>
                                    @foreach (var director in SelectedMovie.Directors)
                                    {
                                        if (director.Person != null)
                                        {
                                            <li>@director.Person.Name</li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No directors available</p>
                            }

                        </div>

                        <div>
                            <p>
                                <strong>Stars:</strong>
                            </p>
                            @if (SelectedMovie.Stars != null && SelectedMovie.Stars.Any())
                            {
                                <ul>
                                    @foreach (var star in SelectedMovie.Stars)
                                    {
                                        if (star.Person != null)
                                        {
                                            <li>@star.Person.Name</li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                <p>No directors available</p>
                            }

                        </div>

                    </div>
                    @if (MovieDetails.Overview != null)
                    {
                        <p>@MovieDetails.Overview</p>
                        <h4 class="release-date">Release Date: @MovieDetails.release_date</h4>
                    }
                    else
                    {
                        <p>Futher information not found </p>
                    }


                </div>

                <div class="ms-auto addBtn gap-2">
                    <button class="btn btn-success btn-lg gradient-custom-4 text-body my-2" @onclick="@(async () => await AddToMyList())">
                        Add To My List
                    </button>

                    <button class="btn btn-success btn-lg gradient-custom-4 text-body " @onclick="@(async () => await GoToMyList())">
                        Go To My List
                    </button>
                </div>

            </div>


            <h6> hello User @userIdFromCache</h6>


        </div>
    }
    else
    {
        <p>the selected movie has no details in TMDB Website @ErrorMessage</p>
    }

</Authorized>

</AuthorizeView>