@page "/favourite"
@inherits FavouriteBase
@using Microsoft.AspNetCore.Components.Authorization
 
<style>
	 
.card-container {

        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        margin-top: 10px;
    }

    .card {
        width: 24rem;
        border-radius: 10px;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

		.card:hover {
			background-color: #39445a;
			transition: 0.7s;
		}

			.card:hover .hoverColor{
				color: white;
			}
			
			 
			
	.rate{
	margin-right: 2px;
	}
 		
	.rating-info {
        text-align: right; /* Align rating to the right */
    }		

	.card-title {
		color: #39445a;
	}

	.card-img-top {
		border-radius: 10px;
		padding: 6px;
	}

	.form-outline {
		width: 600px
	}
.input-group{
justify-content: center;
}
	.input-group .btn {
	
		margin-left: 5px !important;
		height: 38px !important;
		border-radius: 5px !important;
	}
	.rating-info {
        text-align: right;
        margin-top: auto; /* Push the rating to the bottom */
    }
    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

</style>


<AuthorizeView>

    <NotAuthorized>
        <h1>You are not logged in </h1>

        <div class="input-group">

            <div class="form-outline" data-mdb-input-init>
                @* <InputText type="search" id="form1" class="form-control" placeholder="Search" @bind-Value="title"   /> *@
            
                <InputText type="search" @bind-Value="title" @oninput="SearchOnInput" class="form-control" placeholder="Search" />

            </div>


            @* <button type="button" @onclick="getMovieByTitle" class="btn btn-primary" data-mdb-ripple-init> *@
            @*     <span class="bi bi-search" aria-hidden="true"></span> *@
            @* </button> *@


        </div>

        <div class="card-container">
            @foreach (var movie in displayMovies )
            {
                <div class="card">
                    
                    @if (@getimage(movie.Id) == null)
                    {
                        <img class="theImg" src="images/9bd42fa2d404d41d1043f4f7668f24ae.jpg" alt="Poster"/>
                    }
                    else
                    {
                     
                        <img class="theImg" src="@getimage(movie.Id)" alt="Poster"/>
                    }

                    <div class="card-body">
                        <div class="movie-info">
                            <h5 class="card-title hoverColor">Title: @movie.Title </h5>
                            <p class="cardYear hoverColor">Year: @movie.Year</p>
                            <p class="cardYear hoverColor">Votes: @movie.Rating.Votes</p>
                        </div>

                        <div class="rating-info">
                            @{
                                // Convert the RatingValue to an integer with one decimal place
                                int ratingValueInt = (int)(movie.Rating.RatingValue * 10);
                                double ratingValueWithOneDecimal = ratingValueInt / 10.0;
                            }
                            <p class="hoverColor"><i class="bi bi-star-fill  text-danger rate"></i>Rate: @ratingValueWithOneDecimal</p>
                        </div>

                        <a href="@($"movies/details/{movie.Id}")" class="btn btn-primary">More Details..</a>
                    </div>
                </div>
            }
        </div>

    </NotAuthorized>

    <Authorized>

        <h3>Hello, @context.User.Identity.Name </h3>

        <div class="input-group">

            <div class="form-outline" data-mdb-input-init>
                <input type="search" id="form1" class="form-control" placeholder="Search"/>


            </div>


            <button type="button" class="btn btn-primary" data-mdb-ripple-init>
                <span class="bi bi-search" aria-hidden="true"></span>
            </button>


        </div>

        <div class="card-container">
                   @foreach (var movie in displayMovies)
                   {
                       <div class="card">
                           <img src="./images/nophoto.jpg" class="card-img-top" alt="My Image">
                           <div class="card-body">
                               <div class="movie-info">
                                   <h5 class="card-title hoverColor">Title: @movie.Title </h5>
                                   <p class="cardYear hoverColor">Year: @movie.Year</p>
                               </div>
       
                               <div class="rating-info">
                                   @{
                                       // Convert the RatingValue to an integer with one decimal place
                                       int ratingValueInt = (int)(movie.Rating.RatingValue * 10);
                                       double ratingValueWithOneDecimal = ratingValueInt / 10.0;
                                   }
                                   <p class="hoverColor"><i class="bi bi-star text-danger rate"></i>Rate: @ratingValueWithOneDecimal</p>
                               </div>
       
                               <a href="#" class="btn btn-primary">More Details..</a>
                           </div>
                       </div>
                   }
               </div>
    </Authorized>

</AuthorizeView>