@page "/favourite/favouriteDetails/{id}"
@inherits FavouriteDetailsBase
@using Microsoft.AspNetCore.Components.Authorization


<style>
    #details-container {
         margin: 90px;
    }

    .title {
        text-align: center;
        width: 100%;
        background-color: #2c3034;
        border-radius: 20px;
        display: inline-block;
        padding: 10px;
        color: white;
        
    }

    .imgAndOverview {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .theImg {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 20px;
        transition: transform 0.3s ease-in-out;
    }
     .theImg:hover {
            transform: scale(1.1); /* Increase the scale to zoom in a bit */
        }

    .overview {
        flex: 1;
        margin-top: 5px;
        border-radius: 5px;
        color: black;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }

    .overview:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-color: white;
        transition: 0.7s;
    }

    .release-date {
        margin-top: 10px;
    }

    .rating {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        
    }

    .rating i {
        margin-right: 5px;
    }
    .addBtn{
                  display: grid;
                  height: 50px !important;
    }
    @@media (max-width: 915px) {
        .imgAndOverview {
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
        }

        .overview {
            margin-top: 20px; /* Add space between image and overview */
        }
        
           .theImg {
           
             margin-top: 25px;
                width: 100%;
                 
            }
    }
    
    
    
        .comment{
      margin-top: 80px;
         
        }
        .comment-container{
            
       margin: 5px;
         border: 1px solid white;
         border-radius: 20px;
         padding: 10px;
         flex: 1;
         margin-top: 5px;
         border-radius: 20px;
         color: black;
         padding: 20px;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         transition: box-shadow 0.3s;
        }
        
         .comment-container:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                background-color: white;
                transition: 0.7s;
            }
        
        .textInput{
            margin-top: 20px;
            height: 100px;
            width: 50%;
        }
        .addCommentBtn{
        margin-top: 10px;
        }
        @@media (max-width: 768px) {
            .imgAndOverview,
            .comment {
                flex-direction: column;
                align-items: center;
            }
        }
</style>

<AuthorizeView>


    <Authorized>
        @if (SelectedMovie != null && MovieDetails != null)
        {
            <div id="details-container">

                <h3 class="title">@SelectedMovie.Title</h3>

                <div class="imgAndOverview">
                    @if (!string.IsNullOrEmpty(MovieDetails.poster_path))
                    {
                        <img class="theImg" src="@($"https://image.tmdb.org/t/p/w500/{MovieDetails.poster_path}")" alt="Poster"/>
                    }
                    else
                    {
                        <img class="theImg" src="images/9bd42fa2d404d41d1043f4f7668f24ae.jpg" alt="Poster"/>
                    }


                    <div class="overview">
                        <div class="rating">

                            <i class="bi bi-star-fill text-warning"></i>

                            @if (SelectedMovie.Rating != null)
                            {
                                // Convert the RatingValue to an integer with one decimal place
                                int ratingValueInt = (int)(SelectedMovie.Rating.RatingValue * 10);
                                double ratingValueWithOneDecimal = ratingValueInt / 10.0;

                                <h5 class="text-muted">@ratingValueWithOneDecimal</h5>
                            }
                            else
                            {
                                <span class="text-muted">Rating not provided</span>
                            }
                        </div>
                        <div>

                            <div>
                                <p>
                                    <strong>Directors:</strong>
                                </p>
                                @if (SelectedMovie.Directors != null && SelectedMovie.Directors.Any())
                                {
                                    <ul>
                                        @foreach (var director in SelectedMovie.Directors)
                                        {
                                            if (director.Person != null)
                                            {
                                                <li>@director.Person.Name</li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p>No directors available</p>
                                }

                            </div>

                            <div>
                                <p>
                                    <strong>Stars:</strong>
                                </p>
                                @if (SelectedMovie.Stars != null && SelectedMovie.Stars.Any())
                                {
                                    <ul>
                                        @foreach (var star in SelectedMovie.Stars)
                                        {
                                            if (star.Person != null)
                                            {
                                                <li>@star.Person.Name</li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p>No directors available</p>
                                }

                            </div>

                        </div>
                        @if (MovieDetails.Overview != null)
                        {
                            <p>@MovieDetails.Overview</p>
                            <h4 class="release-date">Release Date: @MovieDetails.release_date</h4>
                        }
                        else
                        {
                            <p>Futher information not found </p>
                        }


                    </div>


                </div>
                <div class="comment">

                    <div>
                        @if (_ListOfComments != null)
                        {
                            foreach (var comment in _ListOfComments)
                            {
                                <div class="comment-container">
                                    <h6>@($"@{comment.User.Username}")</h6>
                                    <p>@comment.Comment</p>
                                    <p>@comment.CommentTime</p>

                                </div>
                            }
                        }

                        else
                        {
                            <h2>There are not any comment yet for this movie</h2>
                        }
                    </div>

                    <div>

                        <div >
                            <InputText type="text" @bind-Value="addComment" class="form-control textInput" placeholder="Add a comment...."/>
                            <button class="btn btn-primary addCommentBtn" @onclick="AddComment">Add Comment</button>
                        </div>

                    </div>


                </div>

            </div>
        }
        else
        {
            <p>the selected movie has no details in TMDB Website @ErrorMessage</p>
        }

    </Authorized>

</AuthorizeView>